body{
    background-image: url(fond.png);
    
}

header{
    background-color: white;
    padding: 20px;
    margin: 10px;
}

header img{
    background-color: white;
    width: 30%;
    height: 15%;
    display: block;
}
header p{
    color: red;
}
div #banniere img{
    width: 99%;
    height: 15%;
}



nav{
    background: white;
    padding: 25px;
    margin-bottom: 10px;
    font-size: 19px;
}
nav a{
    color: red;
    margin: 50px;
    text-decoration: none;

}
nav li{
    display: inline-block;
    margin-left:15px ;
}
header,nav{
    display: block;
}

#index article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin: 10px;
    background-size: cover;
    width: 60%;
}
section aside{
    background-color: rgb(193, 193, 193);
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-left: 10px;
    vertical-align: top;
}
aside img{
    margin: 7px;
    width: 13%;
    height: 5%;
}
section article #img{
    float: left;
    display: block;
    margin: 10px;
}
section #presentation,#aside{
    display:inline-block;
    vertical-align:-webkit-baseline-middle;
}
section #presentation{
    width: 60%;
}
section #aside{
width: 30%;
height: 50%;
}

section{
    background-color: white;
    padding: 20px;
}
#index,#dg_enastic2{
    margin: 10px;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 250px;
   background-color: palevioletred;
}

#contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

th,td{
    border: 1px solid black;
    padding: 10px;
    font-size: 22px;
}
th{
    font-weight: bold;
    text-align: left;
}

footer{
    margin-top: 10px;
    border: 1px solid;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
footer p{
    color: blue;
}
footer li{
    color: blue;
}
#index article,aside{
    display: flex;
    display: inline-block;
}
#index article{
    width: 70%
}
#index aside{
width: 25%;
}

